.sidebar {
  background-color: #363740;
  position: relative;
  width: 260px;
  height: 1180px;
  
}

.sidebarTitle{
  position: relative;
  width: 200px;
  height: 24px;
  left: 22px;
  top: 30px;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #a6a7adf1;
  opacity: 0.7;
  text-align: center;
}

.sidebarElement1{
  position: relative;
  width: 200px;
  height: 50px;
  left: 20px;
  color: #A4A6B3;
  top: 55px;
  text-align: center;
}

